<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>HTML5</title>
</head>
<body>
<div class="main">
<!-- 头 -->
<div th:include="public/header"></div>
<!-- 内容 -->
<section>
    <div class="treeDiv">
        <ul id="treeDemo" class="ztree"></ul>
    </div>
    <button id="addNode">Add Node</button>
</section>
</div>
</body>
<script type="text/javascript">
var setting = {
        data: {
            simpleData: {
                enable: true
            }
        }
    };
$(document).ready(function(){
    $.post("/self/initNodeTree",{},function(rs){
        if(rs.code == 0){
            $.fn.zTree.init($("#treeDemo"), setting, rs.body);
        }
    });
});
$(function(){
   $("#addNode").bind("click", function(){
        var treeObj = $.fn.zTree.getZTreeObj("treeDemo");
        var selectedNode = treeObj.getSelectedNodes();
        var newNode = { name: "testnewNode1"};
        treeObj.addNodes(selectedNode[0], newNode);
   });
})
</script>
</html>