<meta charset="UTF-8">
<link rel="stylesheet" href="/css/base.css"/>
<link rel="stylesheet" type="text/css" href="/ztree/zTreeStyle.css">
<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/ztree/jquery.ztree.core.js"></script>
<script type="text/javascript" src="/js/layer/layer.js"></script>
<script>
$(function(){
    // 鼠标停留菜单，背景色变淡
    $(".menu").mouseover(function(){
        $(this).css("background","#8C8C8C");
    });
    // 鼠标离开菜单，背景色恢复黑色
    $(".menu").mouseleave(function(){
        $(this).css("background","#87CEFA");
    });
    // 用户登录
    $("#loginBtn").click(function(){
        window.location.href="/user/toLogin"
    });
    // 退出登录
    $("#logoutBtn").click(function(){
        window.location.href="/user/logout"
    });
});
</script>

<!-- 头 -->
 <header>
    <div class="logo">梦江南</div>
    <div class="menu"><a href="/self/list">主页</a></div>
    <div class="menu">新闻</div>
    <div class="menu" style="background: #8C8C8C"><a href="/">菜谱</a></div>
    <div class="menu">音乐</div>
    <div class="menu">博客</div>
    <div class="menu">其他</div>
    <div class="self-info" th:unless="${session.user_object == null}">
        <button type="button" id="logoutBtn">退出登录</button>
    </div>
    <div class="self-info" th:unless="${session.user_object == null}" >
        <span th:text="${session.user_object.name}"></span>
    </div>
    <div class="self-info" th:unless="${session.user_object != null}" >
        <button type="button" id="loginBtn">用户登录</button>
    </div>
</header>
<hr/>