@charset "utf-8";
/* CSS Document */

/***** reset *****/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent; font-family:'微软雅黑'; font-size:100%; color:#333;}
body {line-height: 1; background:#fff; max-width:960px; margin:0 auto;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: '';content: none;}
:focus {outline: 0;}
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
.clearfix{display: block;} 
.none {display: none;}
img{max-width:100%;}
a{text-decoration:none; color:#333; outline:none;}
input[type=checkbox],input[type=radio]{ position:relative; top:2px; cursor:pointer;}
input[type=text]:focus,input[type=password]:focus{
	outline: none;
	/* border: none;
	color: #555;
	-webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.075), 0 0 4px rgba(82,168,236,.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 4px rgba(82,168,236,.6);
	[disabled]box-shadow: inset 0 2px 2px rgba(0,0,0,.075), 0 0 4px rgba(82,168,236,.6); */
}

/****** common *****/
.fl{float:left;}
.fr{float:right;}
.tc{text-align:center;}
.tl{text-align:left;}
.tr{text-align:right;}
.bg-white{background-color:#fff;}
.mt2p{margin-top:2%;}
.mt3p{margin-top:3%;}
.mt4p{margin-top:4%;}
.mt6p{margin-top:6%;}
.ml3p{margin-left:3%;}
.ml2p{margin-left:2%;}
.ml5p{margin-left:5%;}
.mr3p{margin-right:3%;}
.pt4p{padding-top:4%;}
.p2p{padding:2% 0;}
.red{color:#e60012;}
.orange{color:#ff7e00;}
.blue{color:#2984ea;}
.green{color:#0a3;}
.c-link{color:#0e76d8;}
.c999{color:#999;}
.c777{color:#777;}
.bg-f0{background-color:#f0f0f0;}
.bg-blue{background-color:#2984ea;}
.bg-orange{background-color:#ff7e00;}
.bg-red{ background-color:#ef3535;}
.t_bor{border-top:1px solid #eaeaea;}
.b_bor{border-bottom:1px solid #eee;}
.radius-4{-webkit-box-sizing:border-box;-moz-border-radius: 4px;-webkit-border-radius: 4px;border-radius: 4px;}
.radius-9{-webkit-box-sizing:border-box;-moz-border-radius: 9px;-webkit-border-radius: 9px;border-radius: 9px;}
.radius-2{-webkit-box-sizing:border-box;-moz-border-radius: 2px;-webkit-border-radius: 2px;border-radius: 2px;}
.w95c{width:95%; margin:0 auto; -webkit-box-sizing:border-box;}
.w{width:100%;}
.w23p{width:23%;}
.w30p{width:30%;}
.w32p{width:32%;}
.w36p{width:36%;}
.w40p{width:40%;}
.w46p{width:46%;}
.w50p{width:50%;}
.w60p{width:60%;}
.w65p{width:65%;}
.w80p{width:80%;}
.w90p{width:90%;}
.w95p{width:95%;}
.p2{padding:2%;}

@media only screen and (min-width:320px){
	html{font-size:50%!important}
}
@media only screen and (min-width:375px){
	html{font-size:62.5%!important}
}
@media only screen and (min-width:480px){
	html{font-size:70%!important}
}
@media only screen and (min-width:640px) and (max-width:960px){
	html{font-size:100%!important}
}
@media only screen and (min-width:960px){
	html{font-size:125%!important}
}
