@charset "utf-8";

.main {width: 1200px; margin:0 auto;}
.logo{width: 150px; padding:5px; float: left; font-size: 20px; font-family: "楷体"; color: black;}
.menu{width: 100px; padding:5px; float: left;}
header {background-color:#87CEFA;color:white;text-align:center; padding:5px; width: 1190px; position:fixed;top:0;float: left;} 
nav {line-height:30px;background-color:#87CEFA; color:white; height:700px;width:150px;float:left;padding:5px; text-align: center;}
section {width:1200px; padding:5px; float: right; padding-top: 50px}
footer {background-color:black;color:white;clear:both;text-align:center;padding:5px;}
.search-box{height: 30px}

.pic-frame{padding:10px 10px 0 10px;}
.pic-li{border:2px solid #fff; background-color:#fff; float:left; width:180px; height:230px; margin:5px 5px 5px 5px; cursor:pointer;}
.pic-li:hover{border:2px solid #dadada;}
.pic-img-box{display:table-cell; width:180px; height:200px; text-align:center; vertical-align:middle;}
.pic-img-box img{max-height:100%; max-width:100%;}

.pic-li2{border:2px solid #fff; background-color:#fff; float:left; width:180px; height:300px; margin:5px 5px 5px 5px; cursor:pointer;}
.pic-li2:hover{border:2px solid #dadada;}