<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<style type="text/css">
.main {width: 1200px; margin:0 auto;}
.logo{width: 150px; padding:5px; float: left;}
.menu{width: 100px; padding:5px; float: left;}
header {background-color:#87CEFA;color:white;text-align:center; padding:5px; width: 1190px; float: left;} 
nav {line-height:30px;background-color:#87CEFA; color:white; height:700px;width:150px;float:left;padding:5px; }
section {width:1030px; float:left;padding:5px;}
footer {background-color:black;color:white;clear:both;text-align:center;padding:5px;}
</style>
<script type="text/javascript">
$(function(){
    // 鼠标停留菜单，背景色变淡
    $(".menu").mouseover(function(){
        $(this).css("background","#8C8C8C");
    });
    // 鼠标离开菜单，背景色恢复黑色
    $(".menu").mouseleave(function(){
        $(this).css("background","#87CEFA");
    });
    // 鼠标停留导航栏，背景色变黑
    $(".navc").mouseover(function(){
        $(this).css("color","#7A7A7A");
    });
    // 鼠标离开菜单，背景色恢复黑色
    $(".navc").mouseleave(function(){
        $(this).css("color","white");
    });
});
</script>
<meta charset="UTF-8">
<title>HTML5</title>
</head>

<body>
<div class="main">
<!-- 头 -->
<header>
    <div class="logo">
        Logo
    </div>
    <div class="menu">主页</div>
    <div class="menu">新闻</div>
    <div class="menu">生活</div>
    <div class="menu">音乐</div>
    <div class="menu">博客</div>
    <div class="menu">其他</div>
</header>
<!-- 左侧导航 -->
<nav>
    <div class="navc">Top50</div>
    <div class="navc">流行音乐</div>
    <div class="navc">伤感音乐</div>
</nav>
<!-- 内容 -->
<section>
<h1>Music</h1>
<p>
Standing on the River Thames, London has been a major settlement for two millennia,
its history going back to its founding by the Romans, who named it Londinium.
</p>
<p>
Standing on the River Thames, London has been a major settlement for two millennia,
its history going back to its founding by the Romans, who named it Londinium.
</p>
</section>
<!-- 页脚 -->
<!-- <footer>
备案编号：蜀ISO-98273
</footer> -->
</div>
</body>
</html>